#friends-display-link {
    text-align: center;
    display: block;
    background-color: #fafafa;
    padding: 10px 0px;
    margin-bottom: 10px;
    font-size: 18px;
    margin-top: -15px;
}

#friends-display-link i {
    color: rgba(0,0,0,0.3);
    padding-left: 10px;
}


.friend-screen__channel {
    margin-top: 25px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    padding-top: 15px;
}

.friends-screen__channel-header {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: rgba(0, 0, 0, 0.5);
}

@keyframes hideSplashScreen {
    from {
        opacity: 1;
    } to {
        opacity: 0;
        visibility: hidden;
    }
}

#splash-screen {
    background-color: var(--yellow);
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 132px;
    animation: hideSplashScreen 1s ease-in-out forwards;
    animation-delay: 1s;
}