.alt-header {
    padding: var(--horizontal-space);
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.alt-header__column {
    width: 33%;
}

.alt-header__column:nth-child(2) {
    font-size: 32px;
    font-weight: 600;
    text-align: center;
}

.alt-header__column:first-child {
    margin-right: auto;
}

.alt-header__column:last-child {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
}

.alt-header__column i:last-child {
    margin-left: 20px;
}