.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  bottom: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e3632;
  position: relative;
}

@keyframes notificationAnimation {
  0% {
    transform: none;
  }
  50% {
    transform: translateY(-5px) rotateY(180deg);
  }
  100% {
    transform: none;
  }
}

.nav__notification {
    position: absolute;
    left:15px;
    bottom: 15px;
    animation: notificationAnimation 1.5s ease-in-out infinite;
}

.nav__update-dot {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: -10px;
    bottom: 30px;
}

@keyframes appearBtnAnimation {
  from {
    opacity: 0;
  }
  to {
    transform: none;
    opacity: 1;
  }
}

.nav__btn {
  transform: translateY(50px);
  opacity: 0;
  animation: appearBtnAnimation 1s ease-in-out forwards;
}

.nav__btn:nth-child(2) {
  animation-delay: 0.25s;
}

.nav__btn:nth-child(3) {
  animation-delay: 0.5s;
}

.nav__btn:last-child {
  animation-delay: 0.75s;
}