.nav {
  background-color: #f9f9fa;
  padding: 20px 50px;
  border-top: 1px solid rgba(121, 121, 121, 0.2);
  bottom: 0;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2e3632;
  position: relative;
}

.nav__notification {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-weight: 500;
    position: absolute;
    left:15px;
    bottom: 15px;
}

.nav__update-dot {
    background-color: tomato;
    width: 7px;
    height: 7px;
    border-radius: 5px;
    display: flex;
    position: absolute;
    right: -10px;
    bottom: 30px;
}
